@model CreateUserDTO 
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css" />

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>

    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <!-- Start of form - preserve Identity Validation -->
                    <form asp-action="Register" method="post" id="signup-form" class="signup-form">
                        <h2 class="form-title">Create account</h2>

                        <!-- Username -->
                        <div class="form-group">
                            <input asp-for="UserName" class="form-input" placeholder="Your Username" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <!-- Email -->
                        <div class="form-group">
                            <input asp-for="Email" class="form-input" placeholder="Your Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <!-- Password -->
                        <div class="form-group">
                            <input asp-for="Password" class="form-input" placeholder="Password" type="password" />
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <!-- Confirm Password -->
                        <div class="form-group">
                            <input asp-for="ConfirmPassword" class="form-input" placeholder="Repeat your password" type="password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <!-- Submit Button -->
                        <div class="form-group">
                            <button type="submit" class="form-submit">Sign up</button>
                        </div>

                        <!-- Validation Summary -->
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                    <p class="loginhere">
                        Already have an account? <a  asp-action="Login" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</body>
</html>

